body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color:white;
}
header{
    display: flex;
    height: 50px;
    background-color: rgb(205, 9, 9);
    justify-content: space-between;
    align-items: center ;
    padding: 10px;
    

}
.nombre h2{
    display: flex;
    align-items: center;
    color:white;
    

}
nav a{
    font-weight: 600;
    padding: 10px;
    color: #ffffff;
}
nav a:hover{
color:rgb(56, 160, 8);
}
.Flex-container{
    display: flex;
    justify-content:space-evenly;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align:left;
}


.cartelera{
    border: 1px solid #0087a2;
    background-color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 440px;
    height: 223px;

}

.footer{
    width: 100%;
    background-color: #0a141d;
}
.footer .footer1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:5px;
    padding: 45px 0px;
}
.footer .footer-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-1 .box figure img{
    width: 100px;
}
.footer .footer-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .footer-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .footer-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.footer .footer-1 .red-social a:hover{
    color: aqua;
}
.footer .footer-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .footer-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .footer .footer-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}